<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315495515938-kqhvlc20lv1p4ratlircm4dov5ev7gue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315495515938-kqhvlc20lv1p4ratlircm4dov5ev7gue</string>
	<key>API_KEY</key>
	<string>AIzaSyASD0PukPxmd6L9YhO4SCzu7uHnsiVvfIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>315495515938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appdelight.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-13b6e</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-13b6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315495515938:ios:787e485911026dcc</string>
	<key>DATABASE_URL</key>
	<string>https://artable-13b6e.firebaseio.com</string>
</dict>
</plist>